<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Home</title>
    <style type="text/css">
    </style>
    <link rel="stylesheet" th:href="@{/css/custom.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/bootstrap-4.3.1.css}" type="text/css">
</head>

<body class="main" style="padding-top: 70px">
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light"> <a class="navbar-brand" th:href="@{/}">LOGO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent1">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active"> <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a> </li>
            <li class="nav-item"> <a class="nav-link" href="#">Link</a> </li>
            <div sec:authorize="hasRole('ROLE_ADMIN')">
            <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Admin </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                    <a class="dropdown-item" th:href="@{/admin/addproduct}">Add Product</a>
                    <a class="dropdown-item" th:href="@{/admin/updateproduct}">Update Product</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{/admin/edithome}">Edit Home Page</a> </div>
            </li>
            </div>



        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input aria-label="Search" class="form-control mr-sm-2" placeholder="Search" type="search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <span th:if="${#authentication.name == 'anonymousUser' }" class="col-md-2">
        <form class="" th:action="@{/login}">
            <button class="btn btn-primary col-10" type="submit">Login</button>
        </form>
        </span>
        <span th:if="${#authentication.name != 'anonymousUser'}">
            <div class="">
  	            <ul class="navbar-nav col-12">
                <!-- PROFILE DROPDOWN - scrolling off the page to the right -->
                <li class="nav-item dropdown">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
                       href="#" id="navDropDownLink"
                       th:text="${#authentication.name}"
                    >
                	    USERNAME
            		</a>
                    <div aria-labelledby="navDropDownLink" class="dropdown-menu">
                        <a class="dropdown-item" href="#">Information</a>
						<a class="dropdown-item" href="#">Settings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/logout}">Logout</a>
                    </div>
                </li>
                </ul>
	        </div>
        </span>
    </div>
</nav>
    <th:block th:each="category :${categories}">
        <div class="container col-md-11 product-container">
            <legend><span th:text="${category.name}"></span> Products</legend>
            <hr>
            <div class="row">
                <th:block th:each="product:${category.products}">
                <a class="custom-card col-md-1 col-xl-2 h-100" href="#">
                    <div class="card h-100">
                        <img th:src="@{${product.img_url}}" class="card-img-top product-img h-75" alt="Cinque Terre">
                        <br>
                        <p class="text-center" th:text="${product.name}"></p>
                    </div>
                </a>
                </th:block>
            </div>
        </div>
    </th:block>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap-4.3.1.js}"></script>
</body>
</html>
